EXPO_PUBLIC_SUPABASE_URL=https://dawhduonnysdlzbyzgme.supabase.co
EXPO_PUBLIC_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImRhd2hkdW9ubnlzZGx6Ynl6Z21lIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NTkyMTQxNjIsImV4cCI6MjA3NDc5MDE2Mn0.HBqJ1My7n9Z_t3nLUvdmZ6wmE7aH1gvchlwjbEFdKqg
